
<section>
    <form action="/equations" method="post">
        <div>name: <input name="name" type="text" /></div>
        <div>area of study: <input name="area" type="text" /></div>
        <div>equation (in <a href="http://asciimath.org">ASCIIMath</a>): <input name="equation" type="text"/></div>
        <div>discovered by: <input name="discoveredBy" type="text"/></div>
        <button>send</button>
    </form>
</section>
<section>
    <ul>
        <li><a href="/{{equation.area}}">{{equation.area}}</a> - <a href="/equation/{{equation._id}}">{{equation.name}} - `{{equation.equation}}` discovered by: {{equation.discoveredBy}}</li>
    </ul>
</section>